    .carousel, .carousel > .crs-slide, .carousel > .crs-slide > div { box-sizing:border-box; }
    
    .carousel { 
        width:595px; max-width:595px; height:220px; max-height:220px; 
        overflow:hidden; 
        position:relative; 
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;        
    }
    
    .carousel > .crs-slide { width:595px; height:220px; display:block; z-index:1; position:absolute; }
    
    .carousel > .crs-slide > div { padding:0.5rem; }
    .carousel > .crs-slide > img,
    .carousel > .crs-slide > div 
        { position:absolute; width:595px; overflow:hidden; }
    
    .carousel > .crs-slide > div > h1 { font-size:22px; }
    .carousel > .crs-slide > div > p { font-size:13px; }
    .carousel > .crs-slide > div > h1, 
    .carousel > .crs-slide > div > p
        { margin:0; padding:0; }
    
    .carousel > .crs-slide > .crs-color-light { background:#fff; opacity:0.8; color:#000; }
    .carousel > .crs-slide > .crs-color-dark { background:#000; opacity:0.8; color:#fff; }
    
    .carousel > .crs-slide .crs-location-top { position:absolute; top:0; }
    .carousel > .crs-slide .crs-location-bottom { position:absolute; bottom:0; }
    .carousel > .crs-slide .crs-location-left { text-align:left; }
    .carousel > .crs-slide .crs-location-right { text-align:right; }
    
    .carousel > .crs-button { position:absolute; top:50%; margin-top:-20px; z-index:100000; padding:1em; }
    .carousel > .crs-button-left  { left:0; }
    .carousel > .crs-button-right { right:0; }
    
    .crs-off { display:none; visibility:hidden; opacity:0; }
    
    .crs-controls 
    {
        width:100px;
        position:absolute; 
        bottom:5px;
        margin:0;
        right:5px;
        text-align:right; 
        z-Index:300000;
    }
    .crs-controls > a { 
        display:inline;
        font-size:11px; font-weight:bold; color:#444;
        background:#fff;
        padding:2px;
        text-decoration:none;
        opacity:0.8;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
    }
    #carousel-play { display:none; }
